<!DOCTYPE HTML>
<html>
    <head>
        <title>{{ name }}</title>
        {{ insert_inline_styles('app') | raw }}
    </head>
    <body>
        to jest przykład {{ name }}

        {{ insert_inline_scripts('app') | raw }}
    </body>
</html>

