<!DOCTYPE HTML>
<html>
    <head>
        <title>{{ name }}</title>
    </head>
    <body>
        {{ insert_inline_styles('app') }}
        to jest przykład {{ name }}

        {{ insert_inline_scripts('app') }}
    </body>
</html>

